    <header>
        <a id="logo_title" href="{{ path('home') }}">
            <img src="{{ asset('images/HorizonAgency.jpg') }}">
            <h1>Agence Horizon</h1>
        </a>

        <nav>
        </nav>
    </header>
