{# home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Agence Horizon{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site de l'Agence Horizon!</h1>
    <p>Chez Horizon, nous croyons que chaque voyage est une opportunité de découvrir de nouveaux horizons, de créer des souvenirs précieux, et de vivre des expériences uniques. Nos valeurs sont la passion, l’authenticité, et l’excellence. Depuis plus de 10 ans, nous accompagnons nos voyageurs dans leur quête d’évasion en proposant des destinations soigneusement sélectionnées.</p>
{% endblock %}